<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <title>HOME</title>
</head>

    <body>
    

     <div class="container-fluid" >
     
      <div class="navbar-header" >
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>  
          <span class="icon-bar"></span>                       
        </button>
          <div id="a1" >KIDO TOY HOUSE</div>
      </div>
      
      <div class="collapse navbar-collapse" id="myNavbar"  >
       
        <ul class="nav navbar-nav">
          <li class="active">  <a href=“#”>
        <button class="dropbtn">Home</button></a></li>
      
     <li> <div class="dropdown">
      <a href=“#”>
        <button class="dropbtn">Product</button></a>
        <div class="dropdown-content">
          <a href="/agegroupa1">Age group 1-3</a>
          <a href="/agegropupa2">Age group 4-6</a>
         
        </div>
      </div></li>
     <li> <a href=“#”>
        <button class="dropbtn">Contact</button></a></li>

        <li> <a href=“#”>
          <button class="dropbtn">Client</button></a></li>
        
      </ul>
</div>  
</div>

</body>
</html>>


