<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <title>Proucts</title>
</head>
<body>
    <!-- <nav class="navbar navbar-inverse">
        <div class="container-fluid" >
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
          <a class="navbar-brand" href="#" id="a1">KIDS TOY HOUSE</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar" >
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
           
              <li><a href="#">Products</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            
          </div>
        </div>
      </nav> -->
      <!-- <app-navbar></app-navbar> -->
      
      <div class="container" style="background-color: gainsboro;">
        <h2>OUR PRODUCTS</h2>
        <div class="hide">I am shown when someone hovers over the div above.</div>
        <div class="row">
          <div class="col-md-4">
            <div class="hide">I am shown when someone hovers over the div above.</div>
            <div class="thumbnail">
              <a href="https://i5.walmartimages.com/asr/b03f6668-ead0-4afb-9445-8c2e6b153993_1.80bd57b41e0320174ff857d2c5b6602a.jpeg?odnWidth=1000&odnHeight=1000&odnBg=ffffff" target="_blank">
                <img src="https://i5.walmartimages.com/asr/b03f6668-ead0-4afb-9445-8c2e6b153993_1.80bd57b41e0320174ff857d2c5b6602a.jpeg?odnWidth=1000&odnHeight=1000&odnBg=ffffff" alt="Lights" style="width:100%" class="responsive">
              </a><div class="caption" class="myDIV">
                <h5>monakarshti CREATION Dancing Cactus Toy, Talking Repeat Singing Sunny Cactus Toy 120 Pcs Songs for Baby 15S Record Your Sound ho range ho rajkf  Sunny Cactus Toy 120  </h5>
                  <h5 >PRODUCT ID: 110011 </h5>
                  <h6>PRICE:  &#x20B9; 1100 <a href="/contact"> <button>BUY NOW</button></a></h6>
                  <p>4.5 &#9733;</p>    
                

                  
               </div>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="https://d39qw52yhr4bcj.cloudfront.net/catalog/product/cache/9/image/9df78eab33525d08d6e5fb8d27136e95/9/1/91hdtii2cwl._sl1500_.jpg" target="_blank">
                <img src="https://d39qw52yhr4bcj.cloudfront.net/catalog/product/cache/9/image/9df78eab33525d08d6e5fb8d27136e95/9/1/91hdtii2cwl._sl1500_.jpg" alt="Nature" style="width:100%">
              </a> <div class="caption">
                <h5>monakarshti CREATION Dancing Cactus Toy, Talking Repeat Singing Sunny Cactus Toy 120 Pcs Songs for Baby 15S </h5>
                   <h5>PRODUCT ID: 110012</h5>
                   <h6>PRICE:  &#x20B9; 900 <a href="/contact"> <button>BUY NOW</button></a></h6>
                   <p>3.8 &#9733;</p>
                </div>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="https://th.bing.com/th/id/OIP.EaDp65SR0u8chkzk4Fn4RwHaHa?pid=ImgDet&rs=1" target="_blank">
                <img src="https://th.bing.com/th/id/OIP.EaDp65SR0u8chkzk4Fn4RwHaHa?pid=ImgDet&rs=1" alt="Fjords" style="width:100%">
              </a> <div class="caption">
                <h5>Toyshack Light Up Double Shooter Blaster Toy Gun with Thrilling Multicolor LEDs and Sound Effects, really </h5>
                   <h5>PRODUCT ID: 110013</h5>
                   <h6>PRICE:  &#x20B9; 1000 <a href="/contact"> <button>BUY NOW</button></a></h6>
                   <p>3.3 &#9733;</p>

                </div>
              
            </div>
          </div>
        </div>
      
      
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="https://i5.walmartimages.com/asr/52676ec0-7536-4dae-903d-90a99473afd7.efd0e65c516d78defe3af476d5f53cf7.jpegg" target="_blank">
                <img src="https://i5.walmartimages.com/asr/52676ec0-7536-4dae-903d-90a99473afd7.efd0e65c516d78defe3af476d5f53cf7.jpeg" alt="Lights" style="width:100%" >
              </a> <div class="caption">
                <h5>monakarshti CREATION Dancing Cactus Toy, Talking Repeat Singing Sunny Cactus Toy 120 Pcs Songs for Baby 15S Record Your Sound</h5>
                   <h5>PRODUCT ID: 110014</h5>
                   <h6>PRICE:  &#x20B9; 1200 <a href="/contact"> <button>BUY NOW</button></a></h6>
                   <p>5.0 &#9733;</p>
                </div>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="https://th.bing.com/th/id/R.61b114c66f9a9b9567646d3f100112f7?rik=x7IVM5bqwIonFw&riu=http%3a%2f%2fecx.images-amazon.com%2fimages%2fI%2f81GZIccjzfL._SL1500_.jpg&ehk=U3D%2fT7u4ADXAfLRxV8hEYs%2brJ0iyKir3AuxMH9Cb6Bk%3d&risl=&pid=ImgRaw&r=0" target="_blank">
                <img src="https://th.bing.com/th/id/R.61b114c66f9a9b9567646d3f100112f7?rik=x7IVM5bqwIonFw&riu=http%3a%2f%2fecx.images-amazon.com%2fimages%2fI%2f81GZIccjzfL._SL1500_.jpg&ehk=U3D%2fT7u4ADXAfLRxV8hEYs%2brJ0iyKir3AuxMH9Cb6Bk%3d&risl=&pid=ImgRaw&r=0" alt="Nature" style="width:100%">
              </a><div class="caption">
                <h5>Toyshack Light Up Double Shooter Blaster Toy Gun with Thrilling Multicolor LEDs and Sound Effects, Really Cool Play Gun for Boys and Girls Diwali Gun</h5>
                  <h5>PRODUCT ID: 110015</h5>
                  <h6>PRICE:  &#x20B9; 800 <a href="/contact"> <button>BUY NOW</button></a></h6>
                  <p>4.5 &#9733;</p>
                </div>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="https://images-na.ssl-images-amazon.com/images/I/51Iv8SoemML._AC_US1000_.jpg" target="_blank">
                <img src="https://images-na.ssl-images-amazon.com/images/I/51Iv8SoemML._AC_US1000_.jpg" alt="Fjords" style="width:100%">
              </a> <div class="caption">
                <h5>monakarshti CREATION Dancing Cactus Toy, Talking Repeat Singing Sunny Cactus Toy 120 Pcs Songs for Baby 15S Record Your Sound</h5>
                  <h5>PRODUCT ID: 110016</h5>
                  <h6>PRICE:  &#x20B9; 1000 <a href="/contact"> <button>BUY NOW</button></a></h6>
                  <p>3.5 &#9733;</p>
                </div>
             
            </div>
          </div>
        </div>
        <div class="row"> 
          <div class="col-md-4" id="p1">
            <div class="thumbnail">
              <a href="https://i.pinimg.com/originals/9c/7b/de/9c7bde788d92c8ede8cf4a5efa4d6f4a.jpg" target="_blank">
                <img src="https://i.pinimg.com/originals/9c/7b/de/9c7bde788d92c8ede8cf4a5efa4d6f4a.jpg" alt="Lights" style="width:100%">
              </a><div class="caption">
                <h5>Shyam Enterprise Dancing Musical Bot Robot Pioneer With all direction movements,Colorful Lights</h5>
                  <h5>PRODUCT ID: 110017</h5>
                  <h6>PRICE:  &#x20B9; 1800 <a href="/contact"> <button>BUY NOW</button></a></h6>
                  <p>3.9 &#9733;</p>
                </div>
              
            </div>
          </div>
          <div class="col-md-4" id="p2">
            <div class="thumbnail">
              <a href="/https://th.bing.com/th/id/OIP.yhNHxeMC8w46aG5rO5TYFQHaHa?pid=ImgDet&rs=1" target="_blank">
                <img src="https://th.bing.com/th/id/OIP.yhNHxeMC8w46aG5rO5TYFQHaHa?pid=ImgDet&rs=1" alt="Nature" style="width:100%"></a>
                <div class="caption">
                  <h5>Miss & Chief Mini Muscial Keyboard with 24 Keys for Kids  (Pink)#JustHere</h5>
                   <h5>PRODUCT ID: 110018</h5>
                   <h6>PRICE:  &#x20B9; 1200 <a href="/contact"> <button>BUY NOW</button></a></h6>
                   <p>5.0 &#9733;</p>
                   
                </div>
             
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="https://th.bing.com/th/id/OIP.2wIL7Pevp31ESoQRsdGBBgHaHa?pid=ImgDet&rs=1" target="_blank">
                <img src="https://th.bing.com/th/id/OIP.2wIL7Pevp31ESoQRsdGBBgHaHa?pid=ImgDet&rs=1" alt="Fjords" style="width:100%">
              </a> <div class="caption">
                <h5>Miss & Chief Mini Muscial Keyboard with 24 Keys for Kids  (Pink)#JustHere</h5>
                   <h5>PRODUCT ID: 110019</h5>
                   <h6>PRICE:  &#x20B9; 1190 <a href="/contact"> <button>BUY NOW</button></a></h6>
                   <p>5.0 &#9733;</p>
                </div>
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="https://th.bing.com/th/id/OIP.RA-5JPgdrTBFWPxuX2xO8AHaJC?pid=ImgDet&rs=1" target="_blank">
                <img src="https://th.bing.com/th/id/OIP.RA-5JPgdrTBFWPxuX2xO8AHaJC?pid=ImgDet&rs=1" alt="Lights" style="width:100%">
              </a><div class="caption">
                <h5>Impressions Talking Tom Cat Toy for Kids Speaking Repeats What You Say - Best Gift  (Grey)</h5>
                  <h5>PRODUCT ID: 110020</h5>
                  <h6>PRICE:  &#x20B9; 1180 <a href="/contact"> <button>BUY NOW</button></a></h6>
                  <p>4.0 &#9733;</p>
                </div>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="https://i5.walmartimages.com/asr/1b143dea-491f-4ece-944c-e60775cbc43e.177b8fb0a9fcaff6946b2de9a15bc7e5.jpeg" target="_blank">
                <img src="https://i5.walmartimages.com/asr/1b143dea-491f-4ece-944c-e60775cbc43e.177b8fb0a9fcaff6946b2de9a15bc7e5.jpeg" alt="Nature" style="width:100%">
              </a><div class="caption">
                <h5>Impressions Talking Tom Cat Toy for Kids Speaking Repeats What You Say - Best Gift  (Grey)</h5>
                   <h5>PRODUCT ID: 110021</h5>
                   <h6>PRICE:  &#x20B9; 1700 <a href="/contact"> <button>BUY NOW</button></a></h6>
                   <p>5.0 &#9733;</p>
                </div>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="https://i5.walmartimages.com/asr/7255b29b-cc3c-4827-a6c4-a3ceda3ef2c4.21a8be702419025a48d11a66630f6d7c.jpeg" target="_blank">
                <img src="https://i5.walmartimages.com/asr/7255b29b-cc3c-4827-a6c4-a3ceda3ef2c4.21a8be702419025a48d11a66630f6d7c.jpeg" alt="Fjords" style="width:100%">
              </a> <div class="caption">
                <h5>Impressions Talking Tom Cat Toy for Kids Speaking Repeats What You Say - Best Gift  (Grey)</h5>
                   <h5>PRODUCT ID: 110022</h5>
                   <h6>PRICE:  &#x20B9; 800 <a href="/contact"> <button>BUY NOW</button></a></h6>
                   <p>4.5 &#9733;</p>
                </div>
              
            </div>
          </div>
          
        </div>
        
      </div>
      
      
      
      
      
      <footer class="container-fluid text-center">
        <div class="pagination">
          <a id="btnPrevious"  href="/home">&laquo; Previous</a>
          <a href="/home" >1</a>
          <a href="/product" class="active"  >2</a>
           <a href="/contact" >3 </a>
          <a href="btnNext" href="/contact">Next &raquo;</a>
        </div>
        <h6>
      @copyright 2015-2020. All right reserved.  
        </h6>
      </footer>
</body>
</html>
